<core-toolbar class="color-bg-1">
    <img src="images/sgp_logo_toolbar.png" class="m-center" onclick="stuff()" />
</core-toolbar>
<core-menu>
    <core-item ng-click="changePage('main')" icon="apps" label="Principal" ui-sref="main" ui-sref-active="core-selected"></core-item>
    <core-item ng-click="changePage('exam')" icon="drive-form" label="Avaliações disponíveis" ui-sref="exam" ui-sref-active="core-selected"></core-item>
    <core-item ng-click="changePage('result')" icon="cloud-done" label="Resultados" ui-sref="result" ui-sref-active="core-selected"></core-item>
</core-menu>